<!-- lesson.html -->

<div class="card" data-bs-theme="dark">
    <div class="card-header">
        Tutorial
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <span>
                    <img class="w-100" src="{{url_for('static', filename='img/youtube_lesson.png')}}">
                </span>
            </div>
            <div class="col-6">
                <h5 class="card-title">Lesson for Challenge</h5>
                <p class="card-text">Embedded Specific Video for particular challenge</p>
                <a href="https://www.youtube.com/@stryker2k2" class="btn btn-primary">Watch</a>
            </div>
        </div>
    </div>
</div>